<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControleDeDespesas.Properties.Settings.DespesasConnectionString"
            connectionString="Data Source=brauliodev\sqlexpress;Initial Catalog=Despesas;Persist Security Info=True;User ID=sa;Password=Pal@1010;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>